html{
    width: 100%;
}
body{
    height: 625px;
}
.navbar{
    position: relative;
    z-index: 9999;
}
.toggler div{
    height: 3px;
    margin-top:4px; 
    border-bottom: 2.5px solid white;
    border-top:none;
    width: 27px;
}
.toggler .center{
    position: relative;
    left: -12px;
    /* width: 20px; */
}
.expander{
    background: none;
    border: none;
}
.expander span{
    color: white;
}
.toggler{
    display: inline-block;
}
.outer{
    background: url("https://madsparrow.me/emily/assets/images/4.jpg");
    background-size: cover;
    background-position-y:bottom;
    top: -76px;
    position: relative;
    height: 625px;
    z-index: 9;
}
.inner{ 
    position: relative;
    height: 625px;
    background: linear-gradient(to bottom, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.4;
    top: -701px;
    z-index: 99;
}
.expand{
    position: relative;
    z-index: 999;
    background:#151515;
    height: 0%;
    width: 100%;
    overflow: hidden;
    top: -717px;
}
.col-2 p{
    color: #555555;
    font-size: 16px;
}
.col-2 h1{
    color: white;
    font-size: 28px;
}
.swiper{
    position: relative;
    top: 285px;
}
.swiper div{
    color: white;
    font-size: 12px;
    letter-spacing: 0.1rem;
}
.swiper-content{
    display: inline-block;
    height: 6px;
    border-top: 1px solid white;
    width: 50px;
}
#heading{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 94px;
    line-height: 6rem;
}
.image-info{
    top: 335px;
    overflow: hidden;
    position: relative;
}
#image-link{
    color: red;
    font-family: 'Yantramanav', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}
#scroll-link{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    opacity: 0.7;
    letter-spacing: 0.1rem;
}
#info-swiper{
        display: inline-block;
        height: 6px;
        border-top: 1px solid red;
        width: 50px;
}
.fas.fa-arrows-alt-v{
    color: white;
    opacity: 0.7;
    font-size: 25px;
}
@media only screen and (min-width: 1080px) {
    .outer{
        background: url("https://madsparrow.me/emily/assets/images/4.jpg");
        background-size: cover;
        background-position-y:-130px;
        top: -76px;
        position: relative;
        height: 625px;
        z-index: 9;
    }
  }
  @media only screen and (max-width: 1140px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 74px;
        line-height: 6rem;
    }
  }
  @media only screen and (max-width: 893px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 54px;
        line-height: 4.5rem;
    }
    .image-info{
        top: 400px;
        overflow: hidden;
        position: relative;
    }
  }
  @media only screen and (max-width: 683px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 44px;
        line-height: 3rem;
    }
    
  }