html{
    width: 100%;
}
body{
    height: 625px;
    overflow: hidden;
}
.far.fa-heart:visited, .far.fa-heart:link { 
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.navbar{
    position: relative;
    z-index: 99999;
    padding-top: 8px;
}
.toggler div{
    height: 3px;
    margin-top:4px; 
    border-bottom: 2.5px solid white;
    border-top:none;
    width: 27px;
}
.toggler .center{
    position: relative;
    left: -12px;
    /* width: 20px; */
}
.expander{
    background: none;
    border: none;
    cursor: pointer;
}
.expander span{
    color: white;
}
.toggler{
    display: inline-block;
}
.content{
    position: relative;
    top: -1326px;
    z-index: 999;
}
.outer{
    background: url("https://images.unsplash.com/photo-1569586098165-3edd7212e4f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjkyNTMwfQ&fit=fill&fill=blur&w=1366&h=725");
    background-size: 100%;
    width: 100%;
    top: -76px;
    position: relative;
    height: 625px;
    z-index: 9;
}
.inner{ 
    position: relative;
    height: 625px;
    background: linear-gradient(to bottom, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.4;
    top: -701px;
    z-index: 99;
}
.expand{
    position: relative;
    z-index: 9999;
    background:#151515;
    height: 0%;
    width: 100%;
    overflow: hidden;
    top: -1609px;
}
.toggler-header{
    margin-top: 30px;
    color: white;
    font-size: 28px;
}
.toggler-info{
    color: #555555;
    font-size: 16px;
}
.swiper{
    position: relative;
    top: 285px;
}
.swiper div{
    color: white;
    font-size: 12px;
    letter-spacing: 0.1rem;
}
.swiper-content{
    display: inline-block;
    height: 6px;
    border-top: 1px solid white;
    width: 10%;
}
#heading{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 94px;
    line-height: 6rem;
}
.image-info{
    top: 335px;
    overflow: hidden;
    position: relative;
}
#image-link{
    color: red;
    font-family: 'Yantramanav', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}
#scroll-link{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    opacity: 0.7;
    letter-spacing: 0.1rem;
}
#info-swiper{
        display: inline-block;
        height: 6px;
        border-top: 1px solid red;
        width: 50px;
}
.fas.fa-arrows-alt-v{
    color: white;
    opacity: 0.7;
    font-size: 25px;
}
@media only screen and (min-width: 1142px) {
    .outer{
        background: url("https://images.unsplash.com/photo-1569586098165-3edd7212e4f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjkyNTMwfQ&fit=fill&fill=blur&w=1366&h=725");
        background-size: 100%;
        width: 100%;
        top: -76px;
        position: relative;
        height: 625px;
        z-index: 9;
    }
}
@media only screen and (max-width: 1142px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 84px;
        line-height: 5.5rem;
    }
    .image-info{
        top: 350px;
        overflow: hidden;
        position: relative;
    }
    .expand{ 
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1600px;
    }
}
@media only screen and (max-width: 1025px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 74px;
        line-height: 5rem;
    }
    .image-info{
        top: 365px;
        overflow: hidden;
        position: relative;
    }
    #image-link{
        color: red;
        font-family: 'Yantramanav', sans-serif;
        letter-spacing: 0.1rem;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
    }
    .fas.fa-arrows-alt-v{
        color: white;
        opacity: 0.7;
        font-size: 22px;
    }
    .expand{
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1583px;
    }
}
@media only screen and (max-width: 908px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 64px;
        line-height: 4.5rem;
    }
    .image-info{
        top: 380px;
        overflow: hidden;
        position: relative;
    }
    #scroll-link{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: white;
        opacity: 0.7;
        letter-spacing: 0.1rem;
    }
    .expander span{
        color: white;
        font-size: 14px;
    }
    .toggler div{
        height: 2.5px;
        margin-top:3px; 
        border-bottom: 2px solid white;
        border-top:none;
        width: 22px;
    }
    .navbar-brand img{
        width: 40px;
        height: 40px;
    }
    .toggler-info{
        display: none;
    }
    .toggler-content{
        padding-top: 100px;
    }
    .expand{
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1554px;
    }
    .toggler-header{
        margin-top: 30px;
        color: white;
        font-size: 24px;
    }
    .far.fa-heart:visited, .far.fa-heart:link { 
        margin-right: 10px;
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
}
@media only screen and (max-width: 791px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 54px;
        line-height: 4rem;
    }
    .image-info{
        top: 400px;
        overflow: hidden;
        position: relative;
    }
    #image-link{
        color: red;
        font-family: 'Yantramanav', sans-serif;
        letter-spacing: 0.1rem;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
    }
    .fas.fa-arrows-alt-v{
        color: white;
        opacity: 0.7;
        font-size: 20px;
    }
    .expand{
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1537px;
    }
}
@media only screen and (max-width: 675px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 44px;
        line-height: 3.5rem;
    }
    .image-info{
        top: 420px;
        overflow: hidden;
        position: relative;
    }
    .expand{
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1521px;
    }
}
@media only screen and (max-width: 559px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 39px;
        line-height: 3rem;
    }
    .image-info{
        top: 413.5px;
        overflow: hidden;
        position: relative;
    }
    .fas.fa-arrows-alt-v{
        color: white;
        opacity: 0.7;
        font-size: 18px;
    }
    .expand{
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1505px;
    }
}
/* @media only screen and (max-width: 1200px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 84px;
        line-height: 5.5rem;
    }
  } */ 
/* @media only screen and (max-width: 1142px) {
    .outer{
        background: url("https://madsparrow.me/emily/assets/images/2.jpg");
        background-size: cover;
        background-position-y:-130px;
        top: -76px;
        position: relative;
        height: 625px;
        z-index: 9;
    }
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 84px;
        line-height: 6rem;
    }
  }

  @media only screen and (max-width: 908px) {
    .expand{
        position: relative;
        z-index: 9999;
        background:#151515;
        height: 0%;
        width: 100%;
        overflow: hidden;
        top: -1809px;
    } 
  }
  @media only screen and (max-width: 893px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 54px;
        line-height: 4.5rem;
    }
    .image-info{
        top: 400px;
        overflow: hidden;
        position: relative;
    }
  }
  @media only screen and (max-width: 805px) {
    .toggler-info{
        display: none;
    }
    .toggler-header{
        margin-top: 26px;
        color: white;
        font-size: 22px;
    }
   .toggler-content{
       padding-top: 100px;

   } 
  }
  @media only screen and (max-width: 683px) {
    #heading{
        font-family: 'Yantramanav', sans-serif;
        font-weight: 900;
        color: white;
        font-size: 40px;
        line-height: 3rem;
    }
    .image-info{
        top: 430px;
        overflow: hidden;
        position: relative;
    }
  }
  @media only screen and (max-width: 513px) {
    .image-info{
        top: 385px;
        overflow: hidden;
        position: relative;
    } 
} */